/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


// codigo para modificar

* { @include box_sizing(); }

h1, h2, h3, h4, h5, h6 {
	color: $h;
	font-family: Helvatica, Arial, sans-serif;
	font-weight: bold;
}

/* Header */
.header {
	background-color: $color_uno;
	border-bottom: 14px;
	@include sombra(0, 1px, 3px, 0, 0, 0, 0, 0.3);
	padding: 22px 0;
}

.logo {
	background-color: $color_dos;
	@include border_mix(3px);
	margin: 0, auto;
	padding: 5px 0;
	text-align: center;
	width: 250px;
}

.logo h1 {
	color: $color_tres;
	font-weight: normal;
	font-family: Arial, sans-serif;
	margin-bottom: 0;
}

/* Navigation */

.nav-menu, 
.portfolio > figure .columns{
	display: none;
}

label{
	color: $color_uno;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
}

.nav-menu:checked + label {
	color: $color_tres;
	background-color: #3a3f43;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#all:checked ~ .portfolio .all,
#develop:checked ~ .portfolio .poster,
#test:checked ~ .portfolio .illustration,
#languages:checked ~ .portfolio .typography,
#skills:checked ~ .portfolio .package{
	display: block;
}

/* portfolio */

.portfolio {
	margin-top: 20px;
}

.portfolio .four.columns {
	margin-left: 0;
	margin-right: 0;
	width: 240px;
}

.portfolio > figure {
	position: relative;
	overflow: hidden;
}

.portfolio > figure img {
	display: block;
	max-width: 100%;
}

.portfolio figcaption {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgba(58, 63, 67, 0.8);
	padding: 10%;

	@include transforma(100%);

	@include transicion(350ms);

}

.portfolio figcaption h4 {
	color: $color_tres;
}

.portfolio figcaption p { 
	color: $color_tres;
	font-size: 0.9em;
}

.portfolio > figure:hover figcaption {
	@include transforma(0%);
}

/* Footer seccion */

.footer {
	border-top: 1px solid #ccc;
	margin-top: 28px;
	padding: 28px 0;
}