@import "_variables";

body {
	background: $secondary_color;
	font-color: $primary_color;
	width: $page_width;

h1 {
	font-color: red;
	}
}

.aplRojo {
	color: $color_rojo;
}

.aplVerde {
	color: $color_verde;
}