@import "_variables";

body {
	background: $secondary_color;
	font-color: $primary_color;
	width: $page_width;

h1 {
	font-color: red;
	}
}

span {
	font-size: 2em;
}
.aplRojo {
	background-color: $color_verde;
	color: $color_rojo;
}

.aplVerde {
	background-color: $color_rojo;
	color: $color_verde;
}