<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <metada charset="utf-8">
    <!-- llamado de css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!-- llamado libreria JQuery -->
    <script type="text/javascript" src="javascripts/jquery_1.11.1.js"></script>
    
  </head>

  <body>
    <h1>{{name}}</h1>
    <a href="register">Ingresar Pedido y Usuario</a>
    <!-- llamado de JS -->
    <script type="text/javascript" src="javascripts/lab8.4.js"></script>
  </body>
</html>