body {
  background: #575757;
  font-color: #333333;
  width: 960px; }
  body h1 {
    font-color: red; }

span {
  font-size: 2em; }

.aplRojo {
  background-color: green;
  color: red; }

.aplVerde {
  background-color: red;
  color: green; }
