/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Helvatica, Arial, sans-serif;
  font-weight: bold;
}

/* Header */
/* line 22, ../sass/screen.scss */
.header {
  background-color: #3a3f43;
  border-bottom: 14px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  padding: 22px 0;
}

/* line 30, ../sass/screen.scss */
.logo {
  background-color: #515558;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0, auto;
  padding: 5px 0;
  text-align: center;
  width: 250px;
}

/* line 39, ../sass/screen.scss */
.logo h1 {
  color: white;
  font-weight: normal;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
}

/* Navigation */
/* line 49, ../sass/screen.scss */
.nav-menu,
.portfolio > figure .columns {
  display: none;
}

/* line 53, ../sass/screen.scss */
label {
  color: #3a3f43;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
}

/* line 60, ../sass/screen.scss */
.nav-menu:checked + label {
  color: white;
  background-color: #3a3f43;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 70, ../sass/screen.scss */
#all:checked ~ .portfolio .all,
#develop:checked ~ .portfolio .poster,
#test:checked ~ .portfolio .illustration,
#languages:checked ~ .portfolio .typography,
#skills:checked ~ .portfolio .package {
  display: block;
}

/* portfolio */
/* line 76, ../sass/screen.scss */
.portfolio {
  margin-top: 20px;
}

/* line 80, ../sass/screen.scss */
.portfolio .four.columns {
  margin-left: 0;
  margin-right: 0;
  width: 240px;
}

/* line 86, ../sass/screen.scss */
.portfolio > figure {
  position: relative;
  overflow: hidden;
}

/* line 91, ../sass/screen.scss */
.portfolio > figure img {
  display: block;
  max-width: 100%;
}

/* line 96, ../sass/screen.scss */
.portfolio figcaption {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(58, 63, 67, 0.8);
  padding: 10%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

/* line 114, ../sass/screen.scss */
.portfolio figcaption h4 {
  color: white;
}

/* line 118, ../sass/screen.scss */
.portfolio figcaption p {
  color: white;
  font-size: 0.9em;
}

/* line 123, ../sass/screen.scss */
.portfolio > figure:hover figcaption {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

/* Footer seccion */
/* line 130, ../sass/screen.scss */
.footer {
  border-top: 1px solid #ccc;
  margin-top: 28px;
  padding: 28px 0;
}
